/*style.css*/

.container{
	text-align: center;
}

img{
	width:6.5em;
	height: auto;
	display:block;
	position: absolute;
	left: 1em;
	top:1em;
}

p{
	margin-top: 1.5em;
	display: inline-block;
	width: auto;
}

.panel{
	margin-left: auto;
	margin-right: auto;
	transition:width 0.5s ease;
}

.panel:nth-child(1) h3{
	font-size: 2.75em;
}

.panel:nth-child(2){
	opacity: 0.8;
	width:95%;
}

.panel:nth-child(2) h3{
  font-size: 2.5em;
}

.panel:nth-child(3){
	opacity: 0.7;
	width:90%;
}

.panel:nth-child(3) h3{
  font-size: 2em;
}

.panel:nth-child(4){
	opacity: 0.6;
	width:85%;
}

.panel:nth-child(4) h3{
  font-size: 1.75em;
}

.panel:nth-child(5){
	opacity: 0.6;
	width:85%;
}

.panel:nth-child(5) h3{
  font-size: 1.5em;
}

.navbar {
  height: 4em;
}

.navbar h1 {
  margin-top: 0.2em;
}

.media-object {
  font-size: 3em;
}

.media-heading {
  font-size: 2em;
}
